[2016-10-17 20:17] sobrinho opened #1 "Support for vim itself"
Seems like there is rendering issues for vanilla vim (not neovim).

This is the preview: https://cloud.githubusercontent.com/assets/4568573/19404172/933ccdd2-9274-11e6-9178-ebdd31e17b9c.png

This is what I see using vim (almost no plugins):

<img width="1280" alt="screen shot 2016-10-17 at 18 16 50" src="https://cloud.githubusercontent.com/assets/26460/19453911/ea6a32ac-9495-11e6-8498-5d82d6f70cdd

[2016-10-17 20:24] dempfi commented on #1
As it's written in readme there is no support for vim yet. Only neovim with `termguicolors` running in true color terminals.

[2016-10-17 20:28] sobrinho commented on #1
Hmmm! vim also supports that option which I have no idea about what is, I'll take a look at the vim documentation to see what is that.

Enabling it the vim rendered just like your preview.

There is something specific of neovim on the theme? What and why? Can we support it on vanilla vim?

[2016-10-17 20:33] dempfi commented on #1
Basically that option enables rendering in true colors(16 million colors) instead of limited 16 or 256 colors. But true colors at first should be supported in terminal. iTerm since 2.9 beta supports true colors and neovim from the begging had support for true colors. Current version of ayu doesn't have any definitation of colors for 256 and 16 colored terminals.

[2016-10-17 20:39] sobrinho commented on #1
Thanks!

This option is not specific of neovim, vim also have it and the theme is working correctly, I will make a pull request clearing the README about that.

[2016-10-17 20:39] #1 closed

[2016-10-17 20:43] sobrinho opened #3 "Theme not working in screen sessions"
For some reason the theme isn't working on screen sessions, look the differences.

<img width="1280" alt="screen shot 2016-10-17 at 18 41 32" src="https://cloud.githubusercontent.com/assets/26460/19454842/6c1c4a12-9499-11e6-85d1-30eaa71b0de6.png">
<img width="1280" alt="screen shot 2016-10-17 at 18 41 25" src="https://cloud.githubusercontent.com/assets/26460/19454844/6c4b7a26-9499-11e6-84a2-5c62e6

[2016-10-17 20:51] dempfi commented on #3
@sobrinho seems you need to enable true colors in screen. take a look at this commit http://git.savannah.gnu.org/cgit/screen.git/commit/?id=9668a1ab00fea2096555a33cb962cc865b86e74a

[2016-10-17 21:05] sobrinho commented on #3
I'm trying to figure it out.

It is a compile flag or a runtime flag or both?

I tried to clone the screen source and do `./configure --truecolor` also `--enable-truecolor` and `--with-truecolor` and all of them is unknown 😞

[2016-10-17 21:10] dempfi commented on #3
@sobrinho you have to create `.screenrc` in HOME with `truecolor on`. at least this is what I understood from the [docs](http://git.savannah.gnu.org/cgit/screen.git/tree/src/doc/screen.1?id=9668a1ab00fea2096555a33cb962cc865b86e74a#n137).

[2016-10-17 21:48] sobrinho commented on #3
Yes, seems like that but the master branch is not building right on OS X and homebrew is broken to build from HEAD: https://github.com/Homebrew/homebrew-dupes/issues/668

Trying to fix it here :(

[2016-10-17 21:49] sobrinho commented on #3
Anyway, this is not a issue from ayu-theme itself, so, I'm closing and moving on (I can use tmux if is not possible to compile the master screen).

[2016-10-17 21:49] #3 closed

[2016-11-11 13:25] agreco opened #4 "Support for mirage colour scheme"
Would be cool to have the mirage colour scheme supported :)

[2016-11-15 22:58] dempfi commented on #4
hey @agreco, I'm working on this and it will be included with next update

[2016-11-17 21:06] peteyycz opened #6 "Move term colors to different repository"
It would be really nice to have support for other terminals out there.
This site could be helpful generating other configurations http://terminal.sexy/ :)

[2016-11-19 16:08] agreco commented on #4
hey @dempfi, thanks for the update. This colour scheme rocks! 👍

[2016-11-23 00:24] dempfi commented on #6
hi @peteyy, thx for suggestion will do this soon 👍

[2016-11-23 00:25] dempfi commented on #4
@agreco done, pls update and test how it works for you

[2016-11-23 03:44] kuntau opened #7 "error when setting colorscheme first"
setting `colors ayu` without specifying `let ayucolor=xxx` failed to apply the colorscheme

setting `colors ayu` first then `let ayucolor=xxx` will give bunch of error before applying the color

setting `let ayucolor=xxx`  first then `colors ayu` works perfectly

I don't know if this is intentional or not

Test on `neovim v0.2.0-dev` and `vim v8.0`

[2016-11-23 07:32] dempfi commented on #7
Kinda, I missed to add default value for `ayucolor` :)

[2016-11-23 09:15] agreco commented on #7
I'm getting a stream of errors regardless of placement `color` and `aycolor` vars, here is my colour setup:
[code]

[2016-11-23 09:29] dempfi commented on #7
@agreco Try to activate truecolors first, then set ayucolor and set colorscheme after.

[2016-11-23 11:55] agreco commented on #7
I've done that, but still getting the errors..

[2016-11-23 13:52] dempfi commented on #7
@agreco hm, are you sure your VIM have support for true colors, if yes, can you please provide version

[2016-11-24 00:35] agreco commented on #7
sure.. the version I have running is neovim 0.1.6 and vim 8.0

[2016-12-02 19:59] #7 closed

[2016-12-10 01:57] #4 closed

[2016-12-17 10:55] chenweihan opened #11 "there are some problems on sublimt3 (v3126)"
Hi:
     there are some problems on sublimt3 (Mac sublime3 v3126). the tree navigation and rename have some layout problems.

 ![d1](https://cloud.githubusercontent.com/assets/1927864/21286262/fc743e38-c489-11e6-8684-db8a76842a52.png)
 ![d2](https://cloud.githubusercontent.com/assets/1927864/21286263/04278bf8-c48a-11e6-9f3d-87297bf4b5c6.png)

[2016-12-18 11:57] #11 closed

[2016-12-18 11:58] dempfi commented on #11
Sublime theme is here https://github.com/dempfi/ayu

[2017-02-13 18:13] amckinlay commented on #6
@dempfi can you submit your themes to https://github.com/mbadolato/iTerm2-Color-Schemes? They have scripts to automatically port to different terminal emulators, too. There seems to be existing themes for ayu-light and ayu-dark, but if this repo contains the official ones, they should probably be replaced.

[2017-02-13 19:34] amckinlay commented on #6
Also, if you do that, the `*.termcolors` files should be specified using

    <key>Color Space</key>
    <string>sRGB</string>

instead.

[2017-02-21 11:06] landabaso opened #12 "Are the screenshots in the home using the last version of the theme?"
I've tested on neovim, vim 8 and macvim 8 on iTerm and Terminal.app.
I already installed iterm colorschemes.

When using the light ayucolor both in iTerm and in vim/neovim:

- greens are not as bright
-  string keyword (in javascript) is not highlighted

Also, when using [vim-javascript](https://github.com/pangloss/vim-javascript) everything is slightly broken:
- oranges are pale
 - "{}, []" appea

[2017-02-21 11:57] landabaso commented on #12
This may help understanding what may be going on: https://github.com/pangloss/vim-javascript/issues/285

[2017-02-25 01:37] timpish opened #13 "Install for Vim 8"
New to Vim (coming from Sublime with your brilliant Ayu Mirage). Not quite understanding the install process. Do these lines just go in my vimrc? I have a ~/.vim directory under home, and a ~/.vimrc file. I know plug-ins work differently with Vim 8 and want to get it right. Also, do you have a Terminal profile or only iTerm?

Just installed vim-plug but still need help. Where do actually put the a

[2017-03-09 18:35] fszymanski opened #15 "Neovim: missing cursor in terminal"
I don't see the cursor in the Neovim terminal.
![ayu_nvim_term](https://cloud.githubusercontent.com/assets/25827968/23764758/f9fbcfee-04fe-11e7-86ab-d4ce06ac6b9f.png)

Nvim: 0.2.0-dev (087acd7)
Terminal: gnome-terminal 3.22.1

[2017-04-08 06:10] xahon opened #16 "NerdTree pale colors"
I install dark version of ayu and filenames in nerdtree become pale

[2017-08-10 12:25] ghost opened #18 "End of line character is not visible."
Currently, when running running `set list` command, the EOL character is invisible. As a temporary workaround, setting `hi NonText ctermfg=7 guifg=gray` works.

[2017-09-21 19:56] execb5 opened #20 "Anyone got this theme working inside tmux?"
The colors get all wrong if I'm using tmux. =(

[2017-09-21 20:58] dempfi commented on #20
Hey @execb5, you need to enable true colors in tmux. This theme is true color theme and it needs true color supporting terminal emulator.

[2017-09-22 12:24] execb5 commented on #20
I did all that and still doesn't work. I'm using iterm2 on OSX.

[2017-09-23 04:51] execb5 commented on #20
_Complementing my last comment_

These are my vim settings:
<img width="399" alt="0__zsh_" src="https://user-images.githubusercontent.com/6979113/30770216-37f8db8c-a001-11e7-8091-d6386995c389.png">
_Without_ the `&t_8f` and `&t_8b` setting

<img width="409" alt="0__zsh_" src="https://user-images.githubusercontent.com/6979113/30770229-60488164-a001-11e7-9e34-e2790771830b.png">
_With_ the `&t_8f` an

[2017-09-25 05:37] albertorestifo commented on #20
@execb5 Are you using iTerm2?

It took me a while to fix true-colors in iTerm2 + tmux. [This did the trick for me.](https://github.com/albertorestifo/dotosx/blob/master/vim/vimrc.vim#L62-L70).

Anyway I suggest closing the issue as it's a problem with your config rather than the theme itself.

[2017-09-25 12:19] execb5 commented on #20
Even with that true color fix it doesn't work, but thanks, @albertorestifo !

I also think that it must be something with my configuration, but since it works for all other themes I just didn't know where else to ask.

Gonna close the issue, thanks!

[2017-09-25 12:19] #20 closed

[2017-09-25 16:41] albertorestifo commented on #20
@execb5 I dig a bit in my dotfiles and I also have this in the tmux config: https://github.com/albertorestifo/dotosx/blob/master/tmux/tmux.conf#L27-L28

It overrides the terminal definition to use one that supports true colors. Did you already try this?

[2017-09-25 16:56] execb5 commented on #20
I didn't have your [line 27](https://github.com/albertorestifo/dotosx/blob/master/tmux/tmux.conf#L27)
It worked!

Thank you so much, @albertorestifo!

[2017-09-26 05:05] iamajvillalobos commented on #13
[code]

the above lines should go to your `.vimrc` file. An example would be like this

[code]

Make sure that you load the theme after your plugin manager load it like above.

[2017-09-26 18:16] garand opened #21 "Lightline support"
Would you consider adding theme support for [Lightline](https://github.com/itchyny/lightline.vim)?

[2017-11-06 04:59] zeroby0 opened #22 "vimrc used in screenshot"
Hi!

I'm setting up my Vim, could you post the .vimrc used to achieve functionality just as in the screenshot? i.e, The nerd tree plugin and configuration, line numbers, indent lines, etc.

Thanks

[2017-12-09 19:08] dempfi commented on #22
@zeroby0  here is the relevant part of `init.vim`. I have to note that I used this in neovim and haven't tested in vim.

[code]

[2017-12-09 19:08] #22 closed

[2017-12-09 19:09] #15 closed

[2017-12-09 19:12] dempfi commented on #21
@garand there is a support for airline now. Thanks to @scvsh. If someone does create a PR for lightline I would gladly merge it.

[2017-12-09 19:12] #21 closed

[2017-12-09 19:13] #13 closed

[2017-12-23 10:01] alextrastero commented on #20
Incase anyone still runs into this issue.

Debugging:
run:
`tmux info | grep Tc #Tc: missing`

Add to `.tmux.conf`
`set-option -ga terminal-overrides ',xterm-256color:Tc'`

run:
`tmux info | grep Tc #Tc: true`

[2018-02-03 17:53] Waldemar-Dassler opened #24 "MacVIM"
Not perfect in MacVIM! Maybe some one have a idea?

[2018-02-04 22:17] dotWaldemar commented on #24
![2018-02-05 0 16 58](https://user-images.githubusercontent.com/25832802/35783027-f421aeca-0a09-11e8-8209-6ccc572fd111.png)

[2018-03-14 00:22] MartinTrubelik opened #25 "Terminal.app"
Why the colors doesn't work in Terminal.app (native on macOS)?
The termguicolors is not supported?

[2018-03-14 21:19] #25 closed

[2018-03-22 13:43] daviestang opened #26 "What's the file explorer plugin used in your screenshot?"
What's the file explorer plugin used in your screenshot left area? Is that NerdTree ?

[2018-03-22 15:07] #26 closed

[2018-04-05 14:24] yarisgutierrez commented on #21
I'm currently working on a lightline theme for ayu, which can be found here https://github.com/yarisgutierrez/ayu-lightline. As of now, the mirage theme is completed (some additional tweaks to come), with plans to fit the "light" and "dark" themes soon.

[2018-04-10 18:16] fgrsnau commented on #18
I came across this small problem and fixed it for myself by using the same non-obstrusive color as for the line numberings. Maybe you want to incorporate this small change :)

[2018-05-24 12:13] epergo commented on #16
By pale you mean this?

![image](https://user-images.githubusercontent.com/6479554/40484628-8fcde788-5f5c-11e8-8326-f61ff5d27a3d.png)

Would be cool if it had better colors for nerdtree indeed

[2018-06-12 00:30] SephVelut opened #28 "Support for dark?"
Seems like only there is only the mirage syntax colors. Setting `let ayucolor="dark"` enables the dark background and gui colors of the theme but not the syntax

Actual colors
<img width="681" alt="screen shot 2018-06-11 at 8 29 03 pm" src="https://user-images.githubusercontent.com/4496783/41263644-3d4a766c-6db6-11e8-9a7a-59bad95b52ca.png">

Expected colors
<img width="179" alt="screen shot 2018-0

[2018-06-17 13:29] branchus opened #29 "italic comment?"
Hi
I like this theme, can you implement support for italic comment please?
I tried to add highlight Comment cterm=italic into vimrc, but doesn't seem work.

Thanks

[2018-06-23 11:32] xvzf opened #30 "Add colorscheme for lightline"
Title... Feature request! ;-)

[2018-07-08 21:05] xvzf commented on #30
So - light theme is here: https://gist.github.com/xvzf/a7f64419531dd86a4447168e95bfdba4

I might work on the other variants and create a pull request! :-)

[2018-08-21 04:02] lichaoir opened #31 "Does not work well with tpope/vim-fugitive under its Gdiff buffers"
The diff highlights are nearly indistinguishable from the background colour.

[2018-08-21 09:09] dempfi commented on #31
Hey there, do you happen to have a screenshot? Also what version of vim do you use?

[2018-08-22 00:47] lichaoir commented on #31
![image](https://user-images.githubusercontent.com/507647/44436412-54530700-a5f8-11e8-847c-e8dbec6f0be9.png)

As you can see, I have actually changed the last three code lines above the bottom comment line but the chosen highlight color cannot constrast from the background.

I am using Neovim 0.3.0.

The following is the same piece of code shown using Nord color scheme:

![image](https://user-imag

[2018-09-10 22:15] gennaios commented on #16
Agree that the comment color is a bit too dark. If my monitor is set at max brightness, it's not as bad, but I'd prefer a color more readable.

[2018-10-25 12:34] itsandreramon commented on #24
Can you please explain how you installed it? I just cant get it to look nearly as good as you.

[2018-11-06 20:54] victorronnow opened #33 "macOS terminal overrides ayu scheme colors"
The scheme doesn't seem to be applied on macOS Terminal

Here's what it looks like:
<img width="682" alt="capture d ecran 2018-11-06 a 21 15 41" src="https://user-images.githubusercontent.com/17050767/48092893-3156ed00-e20e-11e8-9920-3fd02227aec8.png">

Here's what it looks like on Hyper Terminal:
![capture d ecran 2018-11-06 a 21 53 41](https://user-images.githubusercontent.com/17050767/48093005-

[2018-11-27 03:31] oblitum commented on #21
@yarisgutierrez nice work, I came here hoping to find the light version..

[2018-11-28 16:45] yarisgutierrez commented on #21
@oblitum Hey! I've been busy with work, but I am still planning on releasing these at some point before the end of the year. Thanks for putting this back on my radar!

[2018-11-28 16:50] oblitum commented on #21
OK, I've noticed there's a pull now though https://github.com/ayu-theme/ayu-vim/pull/32, but competition is fine. My dark theme of choice is deep-space, now I need a light version for it.
![14 24 18_28-11-18](https://user-images.githubusercontent.com/1269815/49167603-dc922800-f31c-11e8-9ad5-7bd4d5fc357f.png)

[2019-02-05 02:34] skbolton opened #34 "update colors?"
It seems like this repo is falling behind the ayu repo. Maybe its time for an update. Also @dempfi has made a repo of just ayu colors. Maybe its time to update the build to leverage that node package? I would be willing to do this work if you are okay with it?

[2019-02-05 02:57] dempfi commented on #34
Hi @skbolton, you're right. This theme is falling behind, tho I don't have much time to come up and test throughoutly an update that would utilize colours from the npm package. So any help is really welcome and appreciated.

[2019-02-05 04:37] skbolton commented on #34
Oh awesome I didn’t realize you were the maintainer of this repo! Yeah I wouldn’t mind nudging this along. I haven’t done vim themes before so I will appreciate any feedback you have as the pr’s come through

[2019-02-05 04:37] #34 closed

[2019-02-07 05:33] skbolton commented on #33
@victorronnow make sure you have the termguicolors setting on (shown in readme). If you do can you call :echo $TERM from within both terminals and see what it prints?

[2019-02-07 05:35] skbolton commented on #29
I am working on an update to this theme @branchus. I will see if I can get that added as well

[2019-02-07 05:37] skbolton commented on #6
@dempfi How do you want help on this one?

[2019-02-08 08:48] branchus commented on #29
Thank you very much @skbolton

[2019-03-12 23:55] outaTiME opened #36 "No mantainer anymore?"
It will great to get fresh updates with this theme, thanks !!!

[2019-03-13 00:15] outaTiME commented on #36
This is how it looks now (2019) with neovim 0.3.4 (ctrlp, airline, gitgutter, polyglot, ale, fugitive, nerdtree, indentLine):

<img width="1562" alt="image" src="https://user-images.githubusercontent.com/140472/54244492-b54a1a00-450b-11e9-9441-8b33f815e4a8.png">

[2019-04-14 00:56] kahosan opened #37 "How to remove the underline？"
![](https://i.imgur.com/WsxDvXt.png)

[2019-04-17 04:39] #37 closed

[2019-05-02 18:42] 0x73706f6f6b commented on #36
@outaTiME link to config? Digging the setup.

[2019-06-01 01:00] andypea commented on #18
This is a really helpful fix. It would be great to see it merged into the official repo.

Thanks for the nice theme!

[2019-06-09 01:06] oniani commented on #36
Yeah, Ayu is really nice. Would love to see some updates!
Those who are looking for a similar-looking Ayu config -> here is my [.vimrc](https://github.com/oniani/templates/blob/master/dotfiles/vimrc)

P.S. Below is the image of how it looks.

<img width="1440" alt="image" src="https://user-images.githubusercontent.com/32032905/59153793-689dae80-8a28-11e9-9f11-226cd0fe889f.png">

[2019-07-12 20:27] #30 closed

[2019-07-12 20:29] #18 closed

[2019-08-13 16:22] jameslutley commented on #36
@outaTiME I’d also love to see this config. Looks great! Really digging the nerdtree style.

[2019-08-13 18:54] oniani commented on #36
My config is almost the same (in terms of visuals), except for the dotted lines as I do not use the indentLine plugin. You can check out my dotfiles [here: https://github.com/oniani/templates](https://github.com/oniani/templates).

[2019-09-08 01:34] AstralCam opened #38 "NerdTree arrow char used in the screenshot?"
I love this colorscheme. I tankful that you share the font, and identline's char, but, what are the chars used in the nerdtree dir arrows?

[2019-09-08 10:28] dempfi commented on #38
This is the config with chars for nerdtree

[code]

[2019-09-08 10:28] #38 closed

[2019-09-18 12:48] panosl opened #41 "airline: There is an error in theme "ayu"."
This message appears when you set the ayu theme in Neovim 0.4

[2019-09-20 21:23] bovarysme commented on #41
This bug was introduced by 6375cd8. Line 87 in the file [autoload/airline/themes/ayu.vim](https://github.com/ayu-theme/ayu-vim/blob/master/autoload/airline/themes/ayu.vim#L87) needs to be replaced with `let s:I2 = s:Array('base6', 'base3')`.

[2019-09-21 16:21] #41 closed

[2019-10-08 11:37] ShubhamBelwal opened #43 "[Request] Create ayu-theme for Powerline-Shell"
Would love a ayu theme for [Powerline-shell](https://github.com/b-ryan/powerline-shell)

[2019-11-25 12:50] #6 closed

[2019-11-28 07:57] vrongmeal commented on #16
Hey! Is there a plan to change this (or a way to configure this)?

[2020-03-20 00:16] Jemoka commented on #16
I came a bit late to the party, but I changed the colors a little; works pretty well and files are now very visible. [The pull request is here.](https://github.com/ayu-theme/ayu-vim/pull/45)
![Screen Shot 2020-03-19 at 5 15 26 PM](https://user-images.githubusercontent.com/28765741/77126120-3d0f1200-6a05-11ea-9db6-56cd5b54043c.png)

[2020-03-24 09:34] panosl commented on #16
Much better, but arrows when collapsed are too pale. Maybe keep them the same color as when expanded, or try something else?

[2020-03-30 10:24] mrassili opened #46 "Change ayucolor from neovim command line"
Hi

I have the variable `ayucolor` set to dark in my `init.vim` but sometimes I want to change it to `light` temporarily. I tried `:let ayucolor='white'` in neovim command line, it works when I echo it. But actually it doesn't change. it's still dark

I don't know if I should run something after to update the interface that I am not aware of? and if it can be automated somehow?

[2020-04-02 16:57] mrassili commented on #46
got my answer on Reddit. :)

[2020-04-02 16:57] #46 closed

[2020-04-03 17:41] mvllow commented on #46
@mrassili would you mind sharing the answer here or a link to the reddit? thanks!

[2020-04-03 21:12] mrassili commented on #46
ah sorry, here you go:

[2020-04-07 16:11] PhilT opened #47 "Strange color in vim-signify for deleted lines - looks fine in nord-vim"
![Screenshot 2020-04-07 16 58 58](https://user-images.githubusercontent.com/34678/78692541-f751b500-78f1-11ea-9c54-a6844ac63b2b.png)

`+` and `!` marks are showing correctly but `_2` deleted lines has a weird text and background color set. It looks correct when switching to another theme such as nord-vim.

Tested with minimal "init.vim"

[code]

Otherwise I'm loving this theme ❤️

[2020-04-24 15:47] mroavi opened #49 "The row numbers are too dim"
I can barely see the row numbers when using `let g:gruvbox_contrast_dark='medium'`. With enough light reflecting on the screen, they become unnoticeable. Would it be possible to make them somewhat lighter? I use them all the time for relative jumping between rows.

It would be great if their color could be set to that of the comments which display a bit lighter.

![Screenshot from 2020-04-24 17-44

[2020-05-03 05:10] samundra opened #50 "Sign Column too narrow for symbols"
I tried the theme and like it. However, The Sign column seems to be narrow. Can we increase it a bit and remove the background from error. As you can see in screenshot below, I have tried with all three version. Anyway to get rid of red background that is showing up on signcolumn.

## Mirage Theme

![Screen Shot 2020-05-03 at 11 59 35](https://user-images.githubusercontent.com/760855/80899148-d6d1

[2020-05-14 06:17] kuntau commented on #29
If you're still interested you can use [my forks](https://github.com/kuntau/ayu-vim) which enable italics support

[2020-05-14 06:26] branchus commented on #29
Thanks, I will have a look

[2020-05-27 19:32] richban commented on #28
How was this issue resolved because I still have the same problem.

[2020-05-27 19:56] richban commented on #50
The colors don't seem to be aligned with the screenshot. What happened to the dark (black) color?

[2020-05-27 20:08] richban opened #52 "What happened to the theme?"
What happened to the colorscheme?

It seems to me that the colors are not aligned with the `ayu-colors` nor the screenshots in the `README.md`.

How can I have the dark colorsheme from the screenshot?

I have installed the plugin and the result is not really satisfying.

![Screen Shot 2020-05-27 at 9 58 29 PM](https://user-images.githubusercontent.com/6967088/83067274-b01cb080-a066-11ea-9650-22c17

[2020-05-28 07:33] SephVelut commented on #28
It wasn't. After looking at the code it became known to me that the dark option did nothing.

[2020-05-29 05:30] samundra commented on #50
- Yes, That was the problem, the background was set to red.

- I tried with all of the variations. All of them have same result.

ALE uses `:hi Error` for error and `:hi Todo` for warnings. So, The fix would be override these highlights manually using custom theme. I have found exact same problem with other themes as well and now I override them with custom color theme.

I believe, we can close th

[2020-05-29 06:24] dempfi commented on #49
@mroavi, I would not recommend to use dark version in lid environment — it's not optimized for that. It's optimized for the opposite :D. Mirage on the other hand was meant to be used in dim environment. Can you try it?

[2020-05-29 06:25] dempfi commented on #36
Guys, project is looking for a new maintainer :)

[2020-05-29 08:37] mroavi commented on #49
Sure. But note that these numbers are not that easy to read even in dark environments.

[2020-05-29 08:37] #49 closed

[2020-05-30 19:44] adelarsq opened #53 "Maintainer role"
@dempfi Actually ayu-vim it's my main light colorscheme (together with tender that is my main dark colorscheme), so I desire a good future for the project.

I don't have so much time, but I think that I can support the project.

I already did create another theme ([vim-grimmjow](https://github.com/adelarsq/vim-grimmjow)) but I don't use so often since I got tired of it (didn't find good colors for

[2020-05-31 07:43] dempfi commented on #53
Hi @adelarsq, that’s awesome. Welcome aboard!

[2020-06-01 03:21] adelarsq commented on #53
@dempfi Let's do it.
Is there any list about things that still need to be covered?

[2020-06-02 10:21] thorlucas commented on #22
This seems to be incomplete — I'm still getting the tilde `~` on the unused lines. In the screenshot those are absent.

Additionally, the airline config appears to be extremely different in the screenshot.

[2020-06-03 05:45] xvzf commented on #53
If you need more help, ping me :) I'm primarily using neovim so vim would also be just tested occasionally

[2020-06-04 14:55] sheerun commented on #52
Probably you need `set termguicolors`

[2020-06-04 14:56] sheerun commented on #53
I can also try to help

[2020-06-12 21:00] Eoin-McMahon commented on #38
Is there a specific font needed to display these characters? if so what is it?

[2020-06-14 18:17] mvllow commented on #38
@Eoin-McMahon according to https://github.com/ayu-theme/ayu-vim#indent-line it's Roboto Mono for Powerline, available in the repo

[2020-06-15 16:29] richban commented on #28
Yeah it was clear as well after I have checked the code colors.

[2020-06-16 08:56] nardeas commented on #33
For those wondering, Terminal.app doesn't support true colors (24-bit color scheme) as the output palette. You have to switch to iTerm or similar. Here's a list of terminals that support true color:

https://gist.github.com/XVilka/8346728

[2020-07-02 18:07] adelarsq commented on #52
@richban Which terminal are you using?

[2020-07-02 20:47] richban commented on #52
@adelarsq I am using ITerm2 does it somehow overwrites the collors?

[2020-07-02 21:48] adelarsq commented on #52
I don't think so. I also use iTerm2.

For me dark shows like this:

<img width="645" alt="Captura de Tela 2020-07-02 às 18 32 16" src="https://user-images.githubusercontent.com/430272/86411066-62f9b300-bc92-11ea-81e7-e5a40da9895b.png">

And for mirage shows like this:

<img width="636" alt="Captura de Tela 2020-07-02 às 18 35 25" src="https://user-images.githubusercontent.com/430272/86411279-e28

[2020-07-04 11:01] branchus commented on #29
Hi Kuntau
your forks works fine under windows, however doesn't work under fedora linux
VIM: 8.2.1081

[2020-07-04 23:35] kuntau commented on #29
Terminal VIM or GUI? It works fine for me on Ubuntu 🤔

[2020-07-29 12:32] richban commented on #52
I just give up and migrated to `gruvbox` but thanks, guys!

[2020-07-29 12:32] #52 closed

[2020-09-16 23:50] hackedWifi opened #56 "ayu theme colors on Neovim or Vim look dim"
Hello everyone. I really like this theme. But when I use it on neovim or vim under xterm or st. The colors don't even look as close as the ones on the screenshots provided by the author of this theme. I have `set termguicolors` Why do my colors look dimmed, not as bright as the ones provided in the screenshots?

[2020-09-24 13:37] Kalibr8 opened #57 "Dark Theme"
let ayucolor="dark" not working. Theme is stuck on default pallete

[2020-09-24 14:02] stsewd commented on #57
Please share your minimal init.vim/vimrc file

[2020-09-24 23:36] Kalibr8 commented on #57
`set termguicolors

filetype off
filetype plugin on
filetype plugin indent on

"========================================================================================"
"-----------------------------------Plugins (Start)--------------------------------------"
"========================================================================================"

call plug#begin('~/.local/share/nvim/plugged')

[2020-10-06 23:32] aasril commented on #57
You may also need to run `:colorscheme ayu` after you run `:let ayucolor="dark"` from the command line. Because I do.

[2020-10-21 03:43] diegoulloao commented on #31
what about this? same problem in 2020

[2020-10-27 08:47] biographie commented on #56
I'm having a similar issue, have you been able to find a fix?

[2020-10-29 04:47] ghost commented on #56
No, I actually gave up on this them. The colors dont even look the same on neovim TUI. I think this theme is designed for a GUI version.

[2020-10-31 10:34] panosl commented on #57
Doesn't it make sense to register them as 3 themes? colo ayu-dark, ayu-mirage, ayu-light?

Having to execute `:let ayucolor='dark'` and then `:colo ayu`, seems kinda cumbersome.

[2020-10-31 10:38] panosl commented on #29
@kuntau any reason you're not making pull requests of your fixes back here or even better, become an official contributor?

[2020-11-10 11:05] iusmac commented on #57
Just take a look inside the `colors/ayu.vim` file and you will see that it makes sense to define a variable instead of creating more *.vim files and violating the "do not repeat yourself" rule. I use the help of VimL syntax to create a one-liner and to make them visually dependent on each other like `let ayucolor='dark' | colo auy`. I've done this once and see no problems. The way the auy theme is

[2020-11-11 18:37] panosl commented on #57
You're not wrong, but I don't like that I have to change mindset when I use that theme compared to others.

i.e. I use `:colo <theme>` for everything, but then I need to `:let ayucolor='<something>'` and then set the theme.

Maybe #54 solves some these issues.

[2020-12-23 16:56] mzarnitsa opened #59 "Alacritty?"
Hello! How about color scheme for Alacritty?

[2021-02-05 15:52] stsewd commented on #53
Looks like @adelarsq is a great fit! If there is already a new maintainer, I think there are a couple of PRs that would be great to have merged/reviewed.

This theme is awesome, haven't found a better replacement (for me at least)!

Edit: I could also try to help, but I don't have experience with themes

[2021-02-05 19:34] stsewd commented on #16
Looks like this can be closed, also, to bring parity with other tree plugins I created https://github.com/ayu-theme/ayu-vim/pull/60

[2021-02-06 00:49] stsewd commented on #53
In the meantime, I have created a branch named fork where I have merged all [outstanding PRs](https://github.com/ayu-theme/ayu-vim/pulls) https://github.com/stsewd/ayu-vim/tree/fork

[2021-02-06 20:28] adelarsq commented on #53
@stsewd I'm just waiting. 😄 In the meantime I did some changes on it. I thinking about to created a Neovim version from it, so will be possible some nice features.

[2021-02-07 03:37] stsewd commented on #56
I'm using neovim and the theme looks great, do you have a screenshot for a better understanding  on how it looks like?

[2021-02-07 03:40] stsewd commented on #47
You should check what hl group is signify using, but maybe it would be solved by https://github.com/ayu-theme/ayu-vim/pull/58

[2021-02-07 19:52] PhilT commented on #47
Thank you! #58  does indeed fix the problem

[2021-02-08 22:46] Luxed commented on #53
I also have a [fork](https://github.com/luxed/ayu-vim) which has been heavily modified.
It has the following changes (for now):
- Updated colors to use the current color palette found at [ayu-colors](https://github.com/ayu-theme/ayu-colors)
- Exposed palette in autoload file for easy customization in your config
- Refactored code base
- Explicit support for more plugins: Signify, Telescope, Neovim

[2021-02-11 02:35] adelarsq commented on #53
@Luxed Nice! Thanks for share!

[2021-02-13 13:54] panosl commented on #53
@stsewd @Luxed and @adelarsq can you decide and set up a repo so the work can continue in unity until the people here at ayu-theme give access to one you?

So many PRs and forks, we need to get behind one repo and work through it.

[2021-02-13 17:28] stsewd commented on #53
@panosl looks like @Luxed's fork is pretty advanced, so I have ported some of my PRs there https://github.com/Luxed/ayu-vim/pulls

[2021-02-23 23:45] bobbbay commented on #59
I think you're looking for [ayu-colors](https://github.com/ayu-theme/ayu-colors), not ayu-vim.

[2021-02-23 23:51] bobbbay commented on #53
Out of sheer interest: maintainers have already been chosen, right? In that case, shall the lines in the readme go? It definitely fooled me to try to apply, being a mod on the Vim discord server and all, and I'm glad I looked through existing issues first 😄.

[2021-02-23 23:58] stsewd commented on #53
Sadly no one has access to the main repo yet, but I'd vote to use/contribute https://github.com/Luxed/ayu-vim in the meantime.

[2021-04-26 16:55] weiameili opened #64 "Miss Match of Colors in Dark theme (Neovim)"
Hi, the colors in ayu dark for neovim are dull and different from the colors shown in the screenshots, or those in the themes for other applications.

As an example, here is a screenshot comparing ayu-vim (on neovim) with ayu-vscode:

![image](https://user-images.githubusercontent.com/74808990/116121281-e67d0880-a6d9-11eb-8a95-fe9ee1358272.png)

[2021-05-04 07:52] themysteryboy commented on #57
I've tried, you only need to change the "let ayucolor='dark' to 'let ayucolor='dark' | color ayu' and it the color will be what you want it to be

[2021-05-08 01:45] Luxed commented on #64
Unfortunately, this repository is missing a maintainer.
_But_ I am currently maintaining [a fork](https://github.com/Luxed/ayu-vim).
The "dull" colors can be attributed to the outdated and modified color palette that was used here. This has been resolved in my fork (it now uses the official colors from the ayu-colors repository).
For the "different" colors, this is more difficult. Since the syntax

[2021-05-15 11:35] demfabris commented on #29
Can we move this forward?

[2021-05-16 00:51] Luxed commented on #29
You can use Kuntau's fork if this is the _only_ feature you want, but if you want a little bit more, you can also use [my fork](https://github.com/Luxed/ayu-vim) which has a lot more changes.

[2021-05-16 10:47] demfabris commented on #29
Wow, thank you. You did a great job with this Fork. TS syntax highlighting was bothering me even more than lack of italics

[2021-05-20 03:54] cyt-codemaker opened #65 "when I set the light theme, the cusor fade..........."
when I edit in normal-mode and insert-mode, I can't find my cursor because the cursor and the background are all light. What should I do?

[2021-05-20 14:00] Luxed commented on #65
This is either an issue with your Terminal, Client (gvim, nvim-qt, etc.) or you might want `:h guicursor`.
Here's example's of different terminal behavior:
- Kitty: white cursor in dark mode and light gray in light mode. Perfectly distinguishable all the time.
- Alacritty: cursor color are reversed background and foreground. Very easy to find it.
- Windows Terminal: Always white. I had to change i

[2021-05-22 02:13] cyt-codemaker commented on #65
Thank you very much. I've solved it.

[2021-05-22 02:13] #65 closed

[2021-06-19 08:04] carljohnesan opened #66 "Diff colors are definetly not right"
Here's how deleted lines diff color look:

![Снимок экрана 2021-06-19 в 11 03 11](https://user-images.githubusercontent.com/47556468/122635678-033c2800-d0ee-11eb-8063-a976c361ec1c.png)

I expected the color to be red.. How that can be fixed?

[2021-06-19 10:39] carljohnson93 commented on #66
I forgot mentioning that I'm using `let ayucolor='light'`

[2021-06-19 11:34] panosl commented on #66
I'd suggest you check out https://github.com/Luxed/ayu-vim @Luxed branch, it's more up to date, and actually accepts Issues and PRs

[2021-06-19 11:39] carljohnson93 commented on #66
Thank you @panosl

[2021-06-19 11:50] carljohnson93 commented on #66
I've submitted an [issue](https://github.com/Luxed/ayu-vim/issues/11) to Luxed/ayu-vim repo

[2021-06-19 11:50] #66 closed

[2021-06-27 23:11] Je12emy commented on #59
Try this: https://gist.github.com/agoose77/14f94d07847c189a13b7d1d3c1b53cfe

I'm trying to find a theme for powerline-shell.

![image](https://user-images.githubusercontent.com/34408108/123562233-a59d8080-d76a-11eb-90b8-d9aa82b486c6.png)

[2021-08-10 11:40] Kalibr8 commented on #57
Solved it on my end. Just had to set the colorscheme and background, as well as termguicolors, _after_ the plugins. Also, set
 the background to dark before setting ayucolor to dark and make sure all terminal background settings are dark after setting colorscheme, i.e

call plug#end()                "for vim-plug

set termguicolors
set background=dark
let ayucolor="dark"
colorscheme ayu
hi Normal

[2021-09-14 13:56] alexzanderr commented on #20
doesnt work for me...

[2021-09-14 14:00] alexzanderr commented on #20
wow. man. you helped solve a 4 month problem...

[2021-11-21 11:34] luciandf opened #70 "coc.nvim suggestion menu current selection is not visible"
when I write some text and coc presents the list of suggestions I cannot see which I select. See an example in the screen shot:

![image](https://user-images.githubusercontent.com/48201912/142760039-98f47ed3-c33b-4b3b-be2a-406501c51d97.png)

What do i have to modify to see the selection like it is the case with a different theme (e.g. seoul256)

![image](https://user-images.githubusercontent.com/4

[2022-02-24 14:29] Taughtimp2786 opened #71 "Double inverted commas not visible"
![Ayu-dark vim issue](https://user-images.githubusercontent.com/77712873/155543409-6f2a2077-84b8-4db6-adf8-9b494b508de5.gif)

[2022-02-24 14:47] Ryuo1 commented on #71
Fixed it by editing `~/.vim/pack/vendor/start/indentLine/after/plugin/indentLine.vim` Line 27 setting conceall to 0

[2022-02-24 14:47] #71 closed

[2022-03-16 13:48] vyskocilm opened #73 "Fails after vim-8.2.4542"
[code]

Commenting out this line have helped.

[code]

[code]

[2022-03-16 14:50] Luxed commented on #73
This has been somewhat fixed by PR #72.

But to be honest, since this repository is unmaintained, I would recommend you to use my fork: https://github.com/luxed/ayu-vim

[2022-03-18 18:49] saccarosium opened #74 "Proposal for Maintainer role"
Hi @dempfi
I'm interested maintaining the repo. I've no prior experience as a maintainer but I wanna learn. It would be nice working also on other stuff like: alacritty and kitty themes, relaese docs for the main project etc. It would be possible?

[2022-03-18 18:58] Luxed commented on #74
Look at issue #53. Many people would be interested in maintaining the project.
I currently have my own fork at [Luxed/ayu-vim](https://github.com/Luxed/ayu-vim).
I don't think the terminal themes would really fit into the vim repository. They would be nice to have in a "ayu-terminal" repository for example.
As for the documentation, I don't see what could be documented?
Theme works like any other

[2022-03-18 19:31] saccarosium commented on #74
Yeah, I meant that it would be nice working at the project itself the colorscheme as a hole, like:
* For the terminals I meant separate projects in the ayu-theme repo;
* For the docs I meant docs like [the dracula](https://spec.draculatheme.com/) one and [the nord](https://www.nordtheme.com/docs/colors-and-palettes) one;
* I also have experience with emacs theming I can work on that also

[2022-03-18 19:49] Luxed commented on #74
I've seen quite a few people wanting a theme for Kitty, Alacritty, Windows Terminal, Conemu, etc.
So I'm sure it would be appreciated. Unfortunately, since this repo is unmaintained, you should be asking somewhere else to add things to it. The "ayu-colors" would be a good entry point. But I believe you should make the repo yourself _then_ advertise it.

I see! That looks good, but once again, here

[2022-03-18 22:27] saccarosium commented on #74
Yeah, I feel the same. If you have ideas or need help I can help.

For now I will try to make the alacrity and kitty ones, and I will try to contact the maintainer of the main repo.

Thanks for the help!

[2022-05-27 13:53] #74 closed

[2022-08-15 11:29] mh-firouzjah commented on #29
Hello, is there any news?

[2022-08-15 12:43] Luxed commented on #29
This repository is still unmaintained unfortunately.
Use [my fork](https://github.com/Luxed/ayu-vim) instead :)
You'll get support for italic comments as well as a bunch of bug fixes and consistency fixes.

[2022-09-01 07:14] mkayyash commented on #70
Add these:
[code]

[2022-11-17 10:10] Asrtodex opened #76 "Proposal change it to lua config"
Juat an idea should.we.change.it using a.lua config for neo vim. If dont mind i would lik to join. May be we can folow the onedark pro structure for the color cheme

[2022-11-17 12:06] Luxed commented on #76
Why? What do you gain by doing that? The only thing you'd be doing is removing support for Vim users which might very well be the majority for this theme.
Even though I use exclusively neovim nowadays, I've still made an effort to support both editors on my fork.
There is also a neovim only version of this theme that is maintained.

Links:
https://github.com/Luxed/ayu-vim
https://github.com/Shatur

[2022-11-21 21:52] Asrtodex commented on #76
Sorry. In my community vim is dead. We all use nvim rightnow. And i dont  know if vim still something